/* #navdiv ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #878EAA;
}
#navdiv ul li {
    float: left;
    background-color: #878EAA;
}
#navdiv ul li a {
    display: block;
    padding: 14px 16px;
    background-color: #878EAA;
    text-align: center;
    color: #DFEDFA;
}
/* Change the link color to #111 (black) on hover */
/* #navdiv ul li a:hover {
    background-color: #111;
} */

/* EVERYTHING */
* {
  font-family: "brandon-grotesque", sans-serif;
  font-style: normal;
  font-weight: 100;
}



.topheader {
  color: white;
  display: inline-flex;
  align-self: center;
}
/* NAV */

#realnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1E2533;
}

#realnav li {
    float: left;
}

#realnav li a, .dropbtn {
    display: inline-block;
    color: #DFEDFA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#realnav li a:hover, .dropdown:hover .dropbtn {
    background-color: #614749;
}

#realnav li.dropdown {
    display: inline-block;
}

#realnav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #878EAA;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#realnav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#realnav .dropdown-content a:hover {background-color: #DFEDFA}

#realnav .dropdown:hover .dropdown-content {
    display: block;
}

img {
  width: 100%;
}

/* WHITE */
.color_0 {color: #FFFFFF;}
.backcolor_0 {background-color: #FFFFFF;}
.color_1 {color: #FFFFFF;}
.backcolor_1 {background-color: #FFFFFF;}

/* BLACK */
.color_2 {color: #000000;}
.backcolor_2 {background-color: #000000;}

/* RED */
.color_3 {color: #ED1C24;}
.backcolor_3 {background-color: #ED1C24;}

/* BLUE */
.color_4 {color: #0088CB;}
.backcolor_4 {background-color: #0088CB;}

/* YELLOW */
.color_5 {color: #FFCB05;}
.backcolor_5 {background-color: #FFCB05;}

/* DARK GREY */
.color_6 {color: #727272;}
.backcolor_6 {background-color: #727272;}

/* LIGHT GREY */
.color_7 {color: #B0B0B0;}
.backcolor_7 {background-color: #B0B0B0;}

/* WHITE */
.color_8 {color: #FFFFFF;}
.backcolor_8 {background-color: #FFFFFF;}

/* DARK GREY */
.color_9 {color: #727272;}
.backcolor_9 {background-color: #727272;}

/* LIGHT GREY */
.color_10 {color: #B0B0B0;}
.backcolor_10 {background-color: #B0B0B0;}

/* WHITE */
.color_11 {color: #FFFFFF;}
.backcolor_11 {background-color: #FFFFFF;}

/* VERY LIGHT GREY */
.color_12 {color: #D8D8D8;}
.backcolor_12 {background-color: #D8D8D8;}

/* MEDIUM GREY */
.color_13 {color: #9A9FA5;}
.backcolor_13 {background-color: #9A9FA5;}

/* MIDDLE MEDIUM GREY */
.color_14 {color: #6D7377;}
.backcolor_14 {background-color: #6D7377;}


.color_15 {color: #393F44;}
.backcolor_15 {background-color: #393F44;}
.color_16 {color: #9A9FA5;}
.backcolor_16 {background-color: #9A9FA5;}
.color_17 {color: #6D7377;}
.backcolor_17 {background-color: #6D7377;}
.color_18 {color: #393F44;}
.backcolor_18 {background-color: #393F44;}
.color_19 {color: #252F35;}
.backcolor_19 {background-color: #252F35;}
.color_20 {color: #000000;}
.backcolor_20 {background-color: #000000;}
.color_21 {color: #E8F8FA;}
.backcolor_21 {background-color: #E8F8FA;}
.color_22 {color: #BFDFE3;}
.backcolor_22 {background-color: #BFDFE3;}
.color_23 {color: #9FD1D6;}
.backcolor_23 {background-color: #9FD1D6;}
.color_24 {color: #87C1C7;}
.backcolor_24 {background-color: #87C1C7;}
.color_25 {color: #393F44;}
.backcolor_25 {background-color: #393F44;}
.color_26 {color: #FFFFFF;}
.backcolor_26 {background-color: #FFFFFF;}
.color_27 {color: #F6F6F6;}
.backcolor_27 {background-color: #F6F6F6;}
.color_28 {color: #D8D8D8;}
.backcolor_28 {background-color: #D8D8D8;}
.color_29 {color: #B1ABAB;}
.backcolor_29 {background-color: #B1ABAB;}
.color_30 {color: #918D8D;}
.backcolor_30 {background-color: #918D8D;}
.color_31 {color: #F8F8F8;}
.backcolor_31 {background-color: #F8F8F8;}
.color_32 {color: #E5F0F1;}
.backcolor_32 {background-color: #E5F0F1;}
.color_33 {color: #C8E4E7;}
.backcolor_33 {background-color: #C8E4E7;}
.color_34 {color: #8EBABE;}
.backcolor_34 {background-color: #8EBABE;}
.color_35 {color: #70B2B9;}
.backcolor_35 {background-color: #70B2B9;}
